.quiz {
  background-color: #333333;
  margin: 20px;
}

.question {
  padding: 10px;
  border: 2px solid blanchedalmond;
  margin-left: 30px;
  margin-right: 30px;
  background: #1e1e1e;
  color: blanchedalmond;
  top: 15px;
  position: relative;
}
.input-group {
  margin: 10px;
}
li {
  padding: 10px;
  border: 2px solid black;
  margin: 5px;
}

ol {
  padding-left: 20px;
}

.options {
  padding: 20px;
  margin-right: 20px;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.input-group-prepend {
  margin-right: -1px;
}
.input-group > .input-group-prepend > .input-group-text {
  margin-right: 15px;
  border: 1px solid BLANCHEDALMOND;
  background: #1e1e1e;
  border-radius: 0;
}
.input-group > .custom-file,
.input-group > .custom-select,
.input-group > .form-control,
.input-group > .form-control-plaintext {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  border: 2px solid burlywood;
  margin-bottom: 0;
  background: #1e1e1e;
  color: blanchedalmond;
  cursor: pointer;
}
.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

input {
  cursor: pointer;
}
