.App {
  text-align: center;
  height: 684px;
}

.App-logo {
  height: 150px;
  pointer-events: none;
  left: 5%;
  position: absolute;
}

body {
  background-color: #333333;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .spinner-border {
    animation: spinner-border 0.75s linear infinite;
  }
}

.App-header {
  background-color: #1e1e1e;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #bc8f8f;
  height: 12rem;
  font-family: Georgia, Times New Roman, Times, serif;
}

.App-link {
  color: #61dafb;
}

#button {
  display: inline-block;
  padding: 0.3em 1.2em;
  background-color: #4e9af1;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: large;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  width: fit-content;
  height: 50px;
  cursor: pointer;
}

#button:hover {
  border-color: rgba(255, 255, 255, 1);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid;
  border-right: 0.25em solid transparent;
  border-radius: 50%;
  animation: spinner-border 0.75s linear infinite;
  top: 50%;
  position: relative;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
@keyframes spinner-border {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 786px) {
  h1 {
    position: relative;
    top: 50px;
  }
  .App-logo {
    height: 115px;
    pointer-events: none;
    right: 5%;
    position: absolute;
    margin: 0 auto;
    top: 3%;
  }
}
